@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Mulish:wght@400;700&display=swap");

$khan: "Khand";
$spartan: "Spartan";
$incon: "Inconsolata";

$lightBeige: #fdf9f2;
$darkBeige: #eee9e3;
$lightGrey: #a9a6a0;
$mediumGrey: #4d4d4d;
$darkGrey: #2d2d2d;

@mixin moveCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flexRow {
  display: flex;
  flex-direction: row;
}
@mixin flexRowCen {
  display: flex;
  justify-content: center;
}
